:root {
	--rojo: #E50914;
	--fondo: #ffffff25;
}
.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 500px;
	grid-gap: 20px;
}
.proyectoMain{
	background-color: #126782;
	color: azure;
	border-radius: 20px;
	font-size:16px;
	height: 450px;
	height: fit-content;
}
.proyectoMain button{
	border-radius: 20px;
	font-size: 18px;
	width: 250px;
	
}
.imgProyecto{
	background-color: white;
	width: 250px;
	padding: 25px;
	margin-top: 10%;
	height: 250px;
}
#cerrarSesion:hover{
	cursor: pointer;
}


body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

.proyecto {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(129, 131, 233, 0.5) 0%, rgb(219, 149, 45) 90%), url(../IMG/fondoJupiter.jpg);
	background-position: center center;
	background-size: 75%;
	margin-bottom: 2%;
	display: flex;
	align-items: end;
}


.proyecto .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.proyecto .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.proyecto .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.proyecto .btn {
	background: rgba(47, 0, 255, 0.5);
	width: 40%;
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.proyecto .boton:hover {
	background: #fff;
	color: #000;
}

.proyecto .boton i {
	margin-right: 1.25em;
}
.cursor{
	cursor: pointer;
}
.encuestas{
	border: solid #AAA 1px;
	padding: 20px;
	margin-top: 5%;
}
footer{
	background-color: #000;
}
.ficha{
	margin: auto;
	border-radius: 25px;
	background-color: rgb(192, 183, 183);
	width: 75%;
	padding: 5%;
}
.entidad{
	border: solid black 1px;
	height: 30%;
	border-radius: 25px;
	padding: 5%;
}
#contenido{
	margin-top: 5%;
}
.servicio{
	width: 50%;
	margin: auto;
	border-radius: 25px;
	border:2px solid rgb(177, 173, 173);
	padding: 5%;
}
.servicio img{
	margin: auto;
}
.divcenter{
	margin: 0 auto;
}
.calificacion{
	background-color: rgb(81, 75, 75);
}






